<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{
    title: 'Profile'
}) %>
<body>
    <%- include('../partials/headerNavbar') %>
    <h1>profile</h1>
    <%- include('../partials/footer') %>

</body>
</html>